# ============================================
# Netbeans:
*nbproject
!/nbproject/project.properties
!/nbproject/project.xml

# ============================================
# PyCharm:
*.idea

# ============================================
# Python:
*.pyc
__pycache__

# ============================================
# Other: